DATABASE_URL="postgresql://neondb_owner:password@id-pooler.server_domain/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:password@id.server_domain/neondb?sslmode=require&channel_binding=require"

APP_PORT=3000
APP_NAME=your_app_name
APP_ENV=development

CLIENT_URL="your-client-or-frontend-url"

SALT_ROUNDS="int-number"

JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""
JWT_ACCESS_EXPIRES_IN=""
JWT_REFRESH_EXPIRES_IN=""

GOOGLE_AUTH_CLIENT_ID=""
CLOUDINARY_URL="cloudinary://<your_api_key>:<your_api_secret>@<your_cloud_name>"
DIRECTORY_CLOUDINARY= "<your_directory_name>""