DATABASE_URL="postgresql://neondb_owner:password@id-pooler.server_domain/neondb?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://neondb_owner:password@id.server_domain/neondb?sslmode=require&channel_binding=require"

APP_PORT=3000
APP_NAME=your_app_name
